@page
@model BookBorrowManagement.Pages.Users_Books_Management.EditModel

@{
    ViewData["Title"] = "Edit existing contract";
}

<h1>@ViewData["Title"]</h1>

<h4>User_Book_Management</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User_Book_Management.Id" />
            <div class="form-group">
                <label asp-for="User_Book_Management.User.Name" class="control-label"></label>
                <select asp-for="User_Book_Management.UserId" class="form-control" asp-items="Model.Users"></select>
                <span asp-validation-for="User_Book_Management.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Book_Management.Book.Title" class="control-label"></label>
                <select asp-for="User_Book_Management.BookId" class="form-control" asp-items="Model.Books"></select>
                <span asp-validation-for="User_Book_Management.BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Book_Management.BorrowDate" class="control-label"></label>
                <input asp-for="User_Book_Management.BorrowDate" class="form-control" />
                <span asp-validation-for="User_Book_Management.BorrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
